page {
  background: #f5f5f5;
}
.top-bar-wrap {
  display: flex;
  align-items: flex-end;
  width: 750px;
  position: fixed;
  top: 0;
  background: #ffffff;
  .top-bar {
    flex: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 35px;
    position: relative;
    image {
      width: 28px;
      height: 40px;
      background: red;
      margin-right: 10px;
    }
    .school-name {
      border-radius: 18px;
      width: 180px;
      height: 36px;
      background: #f2f2f2;
      color: #a1a1a1;
      font-size: 12PX;
      text-align: center;
    }
    .top-bar-title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 18PX;
    }
  }
}
.classification {
  height: 64px;
  width: 750px;
  display: flex;
  box-sizing: border-box;
  padding: 0 35px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: #ffffff;
  .active {
    background: #ff5959;
    padding: 5px 10px;
    border-radius: 15px;
    color: #ffffff;
  }
  view {
    font-size: 14PX;
    color: #333333;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    image {
      width: 32px;
      height: 32px;
      background: red;
    }
  }
}
.goods-item {
  height: 222px;
  width: 750px;
  background: #ffffff;
  display: flex;
  box-sizing: border-box;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  image {
    width: 220px;
    height: 220px;
    background: red;
  }
  .goods-wrap {
    flex: 1;
    box-sizing: border-box;
    padding: 0 20px;
    .goods-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      view {
        font-size: 14PX;
        font-weight: 700;
      }
      .collect-icon {
        width: 32px;
        height: 32px;
      }
    }
    .price {
      display: flex;
      align-items: flex-end;
      margin-top: 40px;
      .mark {
        font-size: 13PX;
        color: #ff5959;
      }
      .number {
        font-size: 16PX;
        color: #ff5959;
        padding-right: 20px;
      }
      .text {
        font-size: 14PX;
      }
    }
    .address {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      color: #6b6b6b;
      font-size: 12PX;
      image {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 20px;
      }
      .address-text {
        display: flex;
        align-items: center;
      }
    }
  }
}