.header{
	display: flex;
	justify-content: center;
	.activeBtn{
		margin: 0 10PX;
		border: none;
		background-color: #00CCFF;
		font-size: 13PX;
	}
	.normalBtn{
		margin:0 10PX;
		border: none;
		color: black;
		font-size: 13PX;
	}
}

.pageShow{
	transform: translate3d(0,0,0);
	transition: 0.15s all linear;
}

.pageUnshow{
	transform: translate3d(-100%, 0, 0);
	transition: 0.15s all linear;
}

.swiper{
	max-height: 155PX;
	.swiperItem{
		margin-left: 3vw;
		.img{
			width: 94vw;
			height: 100%;
		}
	}
}
.top-fixed{
	position: fixed;
	top: 0;
	background-color: white;
	width: 100%;
}
.items{
	padding-top: 5PX;
	padding-left: 5PX;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.tags{
		.item{
			margin-left:10PX;
			font-size: 15PX;
			font-family: sans-serif;
		}
		.active{
			color: #00CCFF;
			border-bottom: 2PX solid #00CCFF;
		}
	}
	.at-icon{
		margin-right: 18PX;
		color: #666666;
		font-size: 20PX;
	}
}
.divider{
	border: 1PX solid #F2F2F2;
}
.card{
	display: flex;
	flex-direction: row;
	padding: 10PX 10PX;
	.main{
		display: flex;
		flex-direction: column;
		padding-left: 5PX;
		.userInfo{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.user{
				.nickname{
					font-size: 15PX
				}
				.time{
					font-size: 13PX;
					color: #666666;
				}
			}
			.add{
				margin-right: 10PX;
				font-size: 15PX;
				color: #00CCFF;
			}
		}
		.content{
			margin-top: 6PX;
			margin-bottom: 5PX;
			font-size: 15PX;
		}
		.img{
			display: flex;
			flex-wrap: wrap;
			.img-item{
				flex: 0 0 31%;
				padding: 0 2PX;
			}
		}
		.tags{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.tag{
				.tag-count{
					text-align: center;
				}
				.at-icon{
					font-size: 22PX;
				}
			}
			.tag-end{
				margin-right: 100PX;
			}
		}
	}
}
.cards{
	margin-bottom: 58PX;
}
.publishBtn {
	position: fixed;
	top: 85vh;
	left: 85vw;
	background-color: #00CCFF;
	border-radius: 50%;
	color: #fff;
	font-size: 40PX;
}

.squarePage{
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: comeFromLeft
}

.groupPage{
	width: 100vw;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: comeFromRight;
	.header{
		width: 90%;
		margin-left: 5%;
		margin-top: 3PX;
		margin-bottom: 10PX;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.create{
			background-color: #eeeeee;
			padding: 1PX 2PX;
			border-radius: 20%;
			font-size: 13PX;
		}
	}
	.groups{
		display: flex;
		flex-direction: row;
		overflow: scroll;
		padding-bottom: 10PX;
	}
	.groups::-webkit-scrollbar {
		display: none;
	}
	.group{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 10PX;
	}
	.group-list-item{
		margin:5PX 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.info{
			display: flex;
			flex-direction: row;
			margin-left: 20PX;
			.text{
				padding-top: 7PX;
				margin-left: 5PX;
				font-size: 15PX;
				.note{
					color:#999999;
					font-size:12PX;
				}
			}
		}
		.add{
			margin-right: 20PX;
			font-size: 15PX;
			padding-top: 7PX;
			.add-btn{
				background-color: #00CCFF;
				border-radius: 20%;
				color: #fff;
				padding: 0 5PX;
			}
			.count{
				font-size: 11PX;
				color: #999999;
			}
		}
	}
}

@keyframes comeFromLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes comeFromRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}