.person-info{
    margin: 3PX 2PX;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 5PX;
    .name-image{
        display: flex;
        flex-direction: row;
        align-items: center;
        .name{
            margin-left: 2PX;
            
        }
    }
}